.about{
    padding: 0 15rem;
    height: 100%;
    /* background-image: linear-gradient(69deg, rgba(128, 0, 128, 0.83), rgba(0, 0, 255, 0.727)); */
    background-color: aliceblue;
   display: flex;
   flex-direction: row;
   background-image: linear-gradient(45deg,rgb(54, 54, 228),rgba(0, 0, 0, 0.717), rgba(0, 128, 0, 0.722));
  
}



.about_text{

    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
    width: 35vh;
    margin-right: 1rem;
}

.about_text_h1{
    font-size: 3rem;
    color: rgb(255, 255, 255);
}
.about_text_p{
    text-align: center;
font-size: 1.4rem;
}


.our_all{
    padding-top: 3rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



.our_all_card{
    margin-bottom: 6rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 117vh;
    height: 55vh;
    background-color:aliceblue;
   

}



.our_all_card_h1{
    text-align: center;
    margin: 0;
    padding: auto;
}

.our_all_card_p{
    text-align: center;
    font-size: 1.3rem;
}


.our_all_card_images{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}