.contact {
    padding: 0 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    text-align: center;
}

.texts {
    padding-top: 5rem;
}

.texts_h1 {
    font-size: 3rem;
}

.texts_p {
    font-size: 1.5rem;
    text-align: justify;
}

.address {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: auto;
    width: 750px;
    margin: 2rem 0;
}

.address_add {
    display: flex;
    text-align: justify;
    justify-content: space-around;
    width: 350px;
    border: 1px solid #aaa;
    padding: 20px;
    border-radius: 20px;
}

@media (min-width: 300px) and (max-width: 430px) {
    .contact {
        padding: 20px;
    }

    .texts {
        padding-top: 1rem;
    }

    .texts_h1 {
        font-size: 2rem;
    }

    .texts_p {
        font-size: 1rem;
    }

    .address {
        flex-direction: column;
        width: auto;
    }

    .address_add {
        width: 350px;
        height: 120px;
        margin-top: 20px;
    }
}

@media (min-width: 250px) and (max-width: 290px) {
    .contact {
        padding: 20px;
    }

    .texts {
        padding-top: 1rem;
    }

    .texts_h1 {
        font-size: 2rem;
    }

    .texts_p {
        font-size: 1rem;
    }

    .address {
        flex-direction: column;
        width: auto;
    }

    .address_add {
        width: 250px;
        height: 120px;
        margin-top: 20px;
        font-size: 11px;
    
    }
}

@media (min-width: 970px) and (max-width: 1080px) {}

@media (min-width: 750px) and (max-width: 920px) {
    .contact {
        padding: 0 5rem;
    }
}

@media (min-width: 520px) and (max-width: 690px) {
    .contact {
        padding: 0 3rem;
    }

    .texts {
        padding-top: 2rem;
    }

    .address {
        flex-direction: column;
        width: auto;
    }

    .address_add {
        width: 350px;
        height: 120px;
        margin-top: 20px;
    }
}