.FAQarea {
    background-color: #fff;
    display: flex;
    padding: 3rem 0;
}

.FAQ {
    width: 55%;
}

.FAQimage {
    width: 45%;
    text-align: center;
}

.Image {
    margin: 20px auto;
    width: 550px;
    height: 350px;
}

.Accordion {
    width: 90%;
    margin: 2rem 0;
    text-align: justify;
}

.head {
    width: 70%;
}

.H{
    color: #000000;
    padding-bottom: 20px;
    font-size: 2rem;
}

.P {
    color: #333;
    text-align: justify;
}

.div{
    height: 2ch;
    background-image: linear-gradient(to right, #010914, #0b2129, #143736, #2e4d3c, #55603f);
    z-index: -1000;
}

.social{
    margin: 20px auto;
    text-align: center;
}

@media (min-width: 300px) and (max-width: 430px){
    .FAQarea{
        display: block;
        margin-top: -2rem;
        padding: 0;
    }

    .FAQ {
        width: auto;
    }

    .FAQimage {
        width: auto;
        margin: 20px;
    }

    .Image {
        width: 300px;
        height: 200px;
    }

    .Accordion {
        width: 90%;
        margin: 1rem auto;
    }
    
    .head {
        color: #000;
        width: 80%;
        margin: auto;
    }
}
@media (min-width: 250px) and (max-width: 290px){
    .FAQarea{
        display: block;
        padding: 0;
    }

    .FAQ {
        width: auto;
    }

    .FAQimage {
        width: auto;
        margin: 20px;
    }

    .Image {
        width: 250px;
        height: 170px;
    }

    .Accordion {
        width: 90%;
        margin: 1rem auto;
    }
    
    .head {
        color: #000;
        width: 80%;
        margin: auto;
    }
}
@media (min-width: 970px) and (max-width: 1380px){

}
@media (min-width: 750px) and (max-width: 920px){
    .Image {
        width: 400px;
        height: 250px;
    }
}
@media (min-width: 520px) and (max-width: 690px){
    .FAQarea{
        display: block;
        padding: 0;
    }

    .FAQ {
        width: auto;
    }

    .FAQimage {
        width: auto;
        margin: 20px;
    }

    .Image {
        width: 500px;
        height: 350px;
    }

    .Accordion {
        width: 90%;
        margin: 1rem auto;
    }
    
    .head {
        color: #000;
        width: 80%;
        margin: auto;
    }
}