.main {
    background-image: linear-gradient(to right top, #3dc600, #00a666, #008186, #00597b, #08334e);

}

.container {
    position: relative;
    padding: 2rem 0;
    display: flex;
    flex-direction: column;
    width: 1100px;
    margin: auto;
}

.gallery {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: center;
    gap: 5px;
}

.gallery_text {
    position: relative;
}

.gallery_h1 {
    text-align: center;
    font-size: 3rem;
    margin-bottom: 1rem;
    color: #fff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.p{
    text-align: justify;
    padding: 20px 20px 50px;
    font-size: 1.2rem;
    color: rgb(255, 255, 255);
}

.g_image {
    position: relative;
    height: fit-content;
    width: fit-content;
    overflow: hidden;
    border-radius: 15px;
    border: 1px solid #aaa;
}

.image1{
    width: 271px;
    height: 300px;
}

.image2{
    width: 542px;
    height: 300px;
}


@media (min-width: 300px) and (max-width: 430px) {
    .container {
        width: auto;
    }

    .gallery_h1 {
        font-size: 2.5rem;
    }

    .image1, .image2 {
        width: 300px;
    }
}

@media (min-width: 250px) and (max-width: 290px) {
    .container {
        width: auto;
    }

    .gallery_h1 {
        font-size: 2rem;
    }

    .image1, .image2 {
        width: 230px;
        height: 230px;
    }
}

@media (min-width: 970px) and (max-width: 1080px) {
    .container {
        width: 1015px;
        padding: 10px;
    }

    .image1{
        width: 210px;
        height: 250px;
    }
    
    .image2{
        width: 490px;
        height: 250px;
    }
}

@media (min-width: 750px) and (max-width: 920px) {
    .container {
        width: 815px;
        padding: 10px;
    }

    .image1{
        width: 170px;
        height: 220px;
    }
    
    .image2{
        width: 400px;
        height: 220px;
    }
}

@media (min-width: 520px) and (max-width: 690px) {
    .container {
        width: auto;
        padding: 10px;
    }

    .gallery_h1 {
        font-size: 2.5rem;
    }

    .image1, .image2 {
        width: 240px;
        height: 250px;
    }
}