.homepage {
    padding: 0 5rem;
    position: relative;
    height: 100vh;
    width: auto;
    background-image: linear-gradient(160deg, green, white, orange);
}

.homepage_front {
    padding: 0 7rem;
    position: relative;
    height: 80%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage_front_h1 {
    font-size: 3rem;
}

.call {
    border: 1px solid rgb(42, 81, 174);
    color: rgb(0, 0, 0);
    text-decoration: none;
    width: 19ch;
    height: 5ch;
    background-color: rgb(255, 255, 255);
    border-radius: 15px;
    font-size: 1rem;
    font-weight: 700;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

.chakra {
    text-align: center;
    margin-top: -25rem;
}

.image {
    opacity: .4;
    animation: mymove 8s linear infinite;
}

@keyframes mymove {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}


@media (min-width: 300px) and (max-width: 430px) {

    .homepage {
        padding: 0;
    }

    .homepage_front {
        padding: 20px;
    }

    .homepage_front_h1 {
        font-size: 2.5rem;
    }

    .image {
        width: 150px;
        height: 150px;
    }
}

@media (min-width: 250px) and (max-width: 290px) {
    .homepage {
        padding: 0;
    }

    .homepage_front {
        padding: 20px;
    }

    .homepage_front_h1 {
        font-size: 2rem;
    }

    .image {
        width: 100px;
        height: 100px;
    }
}

@media (min-width: 970px) and (max-width: 1380px) {}

@media (min-width: 750px) and (max-width: 920px) {}

@media (min-width: 520px) and (max-width: 690px) {
    .homepage {
        padding: 0;
    }

    .homepage_front {
        padding: 3rem;
    }

    .homepage_front_h1 {
        font-size: 2rem;
    }

    .image {
        width: 200px;
        height: 200px;
    }
}