.navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
}

.logo{
    color: wheat;
}
.navbutton{
    text-decoration: none;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: 0.3rem;
   
    color: wheat;
    height: 2rem;
    width: 6rem;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.navbutton:hover{
color: rgb(255, 166, 0);
}