.navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-image: linear-gradient(to right, #010914, #0b2129, #143736, #2e4d3c, #55603f);
}

.navbutton {
    text-decoration: none;
    display: flex;
    /* justify-content: center; */
    box-sizing: border-box;
    margin: 0.3rem;
    color: #fff;
    height: 2rem;
    width: 6rem;
    align-items: center;
    font-size: 1.3rem;
    font-weight: 500;
}

.navbutton:hover {
    color: wheat;
}